---
import BaseLayout from './BaseLayout.astro';
const {content} = Astro.props;
const posts = await Astro.glob('../pages/blog/*.md');
---
<BaseLayout content={content}>
    <div class="px-72 pt-10">

        {posts.slice(0,10).map((post) => (
            <article>
                <h1>{post.frontmatter.title}</h1>
                <p>{post.frontmatter.date}</p>
                <a href={post.frontmatter.url}>Read more</a>
            </article>
        )) }
    </div>
    
</BaseLayout>